@page "/{LocationRoute}/Blog/{ContentType}"
@using System.Diagnostics
@using BedBrigade.Client.Components

@if (IsShowBanner)
{
<RotatorContainer @key="@Key" RotatorTitle="@RotatorTitle" ImagePath="@ImagePath" LocationId="@LocationId" />
}

@if (!string.IsNullOrWhiteSpace(ErrorMessage.Value))
{
    <div class="alert alert-warning text-center mt-4">       
        <p>@ErrorMessage</p>
    </div>
}
else
{
    @if(!IsBlogData)
    {
        <div class="d-flex justify-content-center">
            <div class="alert alert-primary text-center" role="alert">
               <p>@NoDataMessage</p>
            </div>
        </div>
    }
}

<hr />

<fieldset>
    <legend>Blog Module Data Status. Current URL:&nbsp;@_navigationManager.Uri</legend>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="card">      
                    <div class="card-body">
                        Location Route:&nbsp;
                        <b>@LocationRoute</b>
                        <br />Location Id:&nbsp;
                        <b>@LocationId</b>
                        <br />Location Name:&nbsp;
                        <b>@LocationName</b>

                    </div>
                </div>
             </div>
            <div class="col">
                <div class="card">                
                    <div class="card-body">
                        Content Type:&nbsp;
                        <b>@ContentType</b>                    
                        <br />Router Image Path:<br />
                        <b>@(LocationRoute+"/"+ImagePath)</b>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">               
                    <div class="card-body">
                        <i>Blog Data Options</i><br />
                        @OptionsDisplay
                        <br />Allowed Images<br />
                        @BlogModuleImagesExt
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">                 
                    <div class="card-body">
                        All Location Records:&nbsp;
                        <b>@LocationCount</b>
                        <br />Requested Location:&nbsp;
                        <b>@LocationStatus</b>
                        <br />All Content Records:&nbsp;
                        <b>@ContentCount</b>
                        <br />Requested Location Blogs:&nbsp;
                        <b>@ContentStatus</b>
                    </div>
                </div>
            </div>
        </div>

    </div>
    
</fieldset>


<style>

    .container {
        display: inline-flex;
        width: auto;
        padding: 0;
    }

    .content {
       
        margin-left: 10px;
    }


</style>
 
