@page "/{LocationRoute}/Blog/{ContentType}"
@using System.Diagnostics
@using BedBrigade.Client.Components
@using Syncfusion.Blazor.Spinner
@using Syncfusion.Blazor.Buttons



@if (IsShowBanner)
{
    <RotatorContainer @key="@ImagePath" RotatorTitle="@RotatorTitle" ImagePath="@ImagePath" LocationId="@LocationId" />
}


@if (!string.IsNullOrWhiteSpace(ErrorMessage.Value))
{
    <div class="alert alert-warning text-center mt-4">       
        <p>@ErrorMessage</p>
    </div>
}
else
{
    @if(IsBlogData)
    {
        @if (IsCardSettings)
        {
            <div class="row mt-3">
                <SfAccordion>
                    <AccordionItems>
                        <AccordionItem>
                            <HeaderTemplate>
                                <div><b><i class="fas fa-cogs"></i>&nbsp;@_lc.Keys["BlogCardViewSettings"]</b></div>
                            </HeaderTemplate>
                            <ContentTemplate>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group d-flex align-items-center">
                                            <label for="chkBanner" class="formlabel">@_lc.Keys["BlogShowBanner"]</label>&nbsp;
                                            <SfCheckBox @bind-Checked="IsShowBanner">
                                            </SfCheckBox>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group d-flex align-items-center">
                                            <label for="chkPaging" class="formlabel">@_lc.Keys["BlogCardPaging"]</label>&nbsp;
                                            <SfCheckBox @bind-Checked="IsCardPaging">
                                            </SfCheckBox>
                                        </div>
                                    </div>
                                    @if (IsCardPaging)
                                    {
                                        <div class="col">
                                            <div class="form-group d-flex align-items-center">
                                                <label for="txtRows" class="formlabel">@_lc.Keys["BlogCardRows"]</label>&nbsp;
                                                <SfNumericTextBox ID="txtRows" TValue="int" Min="1" Max="20" @bind-Value="NumberOfRows" Width="150px"></SfNumericTextBox>
                                            </div>
                                        </div>
                                    }
                                        <div class="col">
                                            <div class="form-group d-flex align-items-center">
                                                <label for="txtColumns" class="formlabel">@_lc.Keys["BlogCardColumns"]</label>&nbsp;
                                                <SfNumericTextBox ID="txtColumns" TValue="int" Min="1" Max="4" @bind-Value="NumberOfColumns" Width="150px"></SfNumericTextBox>
                                            </div>
                                        </div>
                                   
                                    <div class="col">
                                        <div class="form-group d-flex align-items-center">
                                            <label for="txtContSize" class="formlabel">@_lc.Keys["BlogCardTextSize"]</label>&nbsp;
                                            <SfNumericTextBox ID="txtContSize" TValue="int" Min="150" Max="400" @bind-Value="MaxTextSize" ShowSpinButton="false" Width="100px"></SfNumericTextBox>
                                        </div>
                                    </div>
                                </div>
                            </ContentTemplate>
                        </AccordionItem>
                    </AccordionItems>
                </SfAccordion>
            </div>

        } <!-- Settings -->
 
        <div class="row mt-3">

            <BlogCards @key="@ChildKey"
                       CurrentLocation="@myLocation"
                       ContentTypeName="@ContentType"
                       BlogItemList="@_cards"                      
                       IsPaging="@IsCardPaging"
                       Rows="@NumberOfRows"
                       Columns="@NumberOfColumns"
                       MaxContentSize="@MaxTextSize" />

        </div>
    }
    else
    {
        <div class="d-flex justify-content-center">
            <div class="alert alert-primary text-center" role="alert">
               <p>@NoDataMessage</p>
            </div>
        </div>
    }
}

<!-- TEST MODE --------------------------------->

@if(IsTestMode)
{

<div class="row" >
    <div class="col-sm">
        <div class="spin-row">
            <SfSpinner Size="40"  Type="SpinnerType.Bootstrap5" @bind-Visible="@SpinnerVisible"></SfSpinner>
        </div>
    </div>
</div>

    <div class="row">
        <div class="col-md-12">
            <hr />
        </div>
    </div>

 
  <div class="@TestBarClass" >
                        <div class="col-md-2 d-flex justify-content-center  align-items-center">
                            <h3>@_lc.Keys["BlogTestMode"]</h3>
                        </div>
                        <div class="col-md-3 d-flex justify-content-center  align-items-center">
                            @_lc.Keys["BlogContentRecords"]:&nbsp;@BlogContentCount
                        </div>                     
                        <div class="col-md-3 d-flex justify-content-center  align-items-center">
                            @_lc.Keys["BlogImageFolders"]:&nbsp;@ImageFolderCount
                        </div>
                        <div class="col-md-3 d-flex justify-content-center  align-items-center">
                            @_lc.Keys["BlogTestImages"]:&nbsp;@UnzippedImagesCount
                        </div>
                         <div class="col-md-1 d-flex justify-content-center  align-items-center">
                            <button class="btn btn-warning" @onclick="ResetTestData"><i class="fas fa-sync"></i></button>&nbsp;
                            <button class="btn btn-danger" @onclick="ClearTestData"><i class="fas fa-trash-alt"></i></button>
                        </div>
    </div>    
   
   @FolderMessage

}
<!-- TEST MODE --------------------------------------------->

<script>
        function reloadPage() {
            window.location.replace(window.location.href);
        }
       function confirmReset(message) {
        return confirm(message);  // Return true if confirmed, false otherwise
        }
</script>

<style>

    .container {
        display: inline-flex;
        width: auto;
        padding: 0;
    }

    .content {
       
        margin-left: 10px;
    }


</style>
 
