@page "/volunteer"
@page "/{LocationRoute:nonfile}/volunteer"
@page "/{LocationRoute:nonfile}/volunteer/{ScheduleId:int}"
@using BedBrigade.Common.Models
<PageTitle>@($"{_lc.Keys["TheBedBrigade"]} | {_lc.Keys["Volunteer"]}")</PageTitle>

<RotatorContainer RotatorTitle="@_lc.Keys["Volunteer"]" ImagePath="pages/Volunteer" LocationId="1" SmallHeaderMobile="true" />


<div class="container-fluid" style="display: @DisplaySearch">
    <SearchLocation @ref="SearchLocation"
                    Title="@_lc.Keys["FindABedBrigade"]"
                    ResultType="DropDownList"
                    ParentMethod="(childData)=>CheckChildData(childData)"
                    LocationChanged="(ddlValue)=>HandleSelectedValueChanged(ddlValue)" />
</div>

<div class="container-fluid" style="display: @DisplayForm">
    <div class="row">
        <div class="col-md-12" style="text-align: center">
            <p>@_lc.Keys["IfYouLikeTo"]</p>
        </div>
    </div>
    <EditForm EditContext="@EC">
        <div class="row">
            
            <div class="@(AreSignUpsAvailable ? "col-md-3" : "col-md-12")">
                <div class="card">
                    <div class="card-header" style="text-align: center">
                        @_lc.Keys["BedBrigadeLocationEvents"]
                    </div>

                    <div class="card-body" style="display: @DisplayLocationEvents">
                        <div class="form-group">
                            <label for="events" class="formlabel">@_lc.Keys["LocationAvailableEvents"]&nbsp;(@LocationEvents.Count)</label>
                            <SfDropDownList @ref="ddlSchedule" TValue="int" TItem="Schedule" PopupHeight="350px" PopupWidth="350px" Placeholder="@_lc.Keys["SelectAnEvent"]" DataSource="@LocationEvents">
                                <DropDownListFieldSettings Value="ScheduleId" Text="EventSelect"></DropDownListFieldSettings>
                                <DropDownListEvents TValue="int" TItem="Schedule" ValueChange="ChangeEvent"></DropDownListEvents>
                            </SfDropDownList>
                            <div style="font-size: smaller">
                            </div>
                        </div>
                        @if (SelectedEvent != null)
                        {
                            <div style="display: @DisplayEventDetail">
                                <label class="formlabel">@_lc.Keys["SelectedEventDetails"]</label>
                                <div class="form-group">
                                    <label class="formlabel">@_lc.Keys["Name"]</label>
                                    <label>@SelectedEvent.EventName</label>
                                </div>
                                @if (SelectedEvent.EventType.ToString() != SelectedEvent.EventName)
                                {
                                    <div class="form-group">
                                        <label class="formlabel">@_lc.Keys["EventType"]</label>
                                        <label>@SelectedEvent.EventType</label>
                                    </div>
                                }
                                @if (!String.IsNullOrEmpty(SelectedEvent.GroupName))
                                {
                                    <div class="form-group">
                                        <label class="formlabel">@_lc.Keys["EventGroup"]</label>
                                        <label>@SelectedEvent.GroupName</label>
                                    </div>
                                }
                                <div class="form-group">
                                    <label class="formlabel">@_lc.Keys["EventDateTime"]</label>
                                    <label>@SelectedEvent.EventDateScheduled.ToString("dddd, MM/dd/yyyy h:mm tt") to @SelectedEvent.EventDateScheduled.AddHours(SelectedEvent.EventDurationHours).ToShortTimeString()</label>
                                </div>
                                @if (!String.IsNullOrEmpty(SelectedEvent.Address))
                                {
                                    <div class="form-group">
                                        <label class="formlabel">@_lc.Keys["Address"]</label>
                                        <label>
                                            <a href="@GoogleMaps.CreateGoogleMapsLinkForSchedule(SelectedEvent)" target="_blank">
                                                @($"{SelectedEvent.Address}, {SelectedEvent.City}, {SelectedEvent.State} {SelectedEvent.PostalCode}")
                                            </a>
                                        </label>
                                    </div>
                                }
                                @if (!String.IsNullOrEmpty(SelectedEvent.OrganizerName))
                                {
                                    <div class="form-group">
                                        <label class="formlabel">@_lc.Keys["Organizer"]</label>
                                        <label>
                                            @SelectedEvent.OrganizerName&nbsp;
                                            <a href="@($"mailto:{SelectedEvent.OrganizerEmail}")">
                                                @SelectedEvent.OrganizerEmail
                                            </a>&nbsp;
                                            <a href="@($"tel:{StringUtil.ExtractDigits(SelectedEvent.OrganizerPhone)}")">
                                                @SelectedEvent.OrganizerPhone.FormatPhoneNumber()
                                            </a>
                                        </label>
                                    </div>
                                }
                                <div class="form-group">
                                    <label class="formlabel">@_lc.Keys["VolunteersRegisteredneeded"]</label>
                                    <label>@SelectedEvent.VolunteersRegistered/@SelectedEvent.VolunteersMax</label>
                                </div>

                                @if (!string.IsNullOrEmpty(SelectedEvent.EventNote))
                                {
                                    <div class="form-group">
                                        <label class="formlabel">@_lc.Keys["EventNote"]</label>
                                        <label>@SelectedEvent.EventNote</label>
                                    </div>
                                }
                            </div>
                        }
                    </div>
                    <div class="card-body" style="display: @DisplayLocationStatusMessage">
                        @LocationEventsAlert
                    </div>
                </div>
            </div>
            @if (AreSignUpsAvailable)
            {
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-header" style="text-align: center">@_lc.Keys["VolunteerInformation"]</div>
                        <div class="card-body">
                            <div class="form-group">
                                <SfCheckBox Label="@_lc.Keys["HaveYouVolunteeredFor"]" @bind-Checked="newVolunteer.IHaveVolunteeredBefore" @onchange="onPreviousVolunteer"></SfCheckBox>
                            </div>
                            <div class="form-group" style="display: @DisplayExistingMessage">
                                @ExistingMessage
                            </div>
                            <div class="form-group">
                                <label for="firstname" class="formlabel required">@_lc.Keys["FirstName"]</label>
                                <SfTextBox ID="firstname" @bind-Value="newVolunteer.FirstName"></SfTextBox>
                                <div style="font-size: smaller">
                                    <ValidationMessage For="@(() => newVolunteer.FirstName)"></ValidationMessage>
                                </div>
                            </div>
                            <div class="form-group ">
                                <label for="lastname" class="formlabel required">@_lc.Keys["LastName"]</label>
                                <SfTextBox ID="lastname" @bind-Value="newVolunteer.LastName"></SfTextBox>
                                <div style="font-size: smaller">
                                    <ValidationMessage For="@(() => newVolunteer.LastName)"></ValidationMessage>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email" class="formlabel required">@_lc.Keys["Email"]</label>
                                <SfTextBox ID="email" @bind-Value="newVolunteer.Email"></SfTextBox>
                                <div style="font-size: smaller">
                                    <ValidationMessage For="@(() => newVolunteer.Email)"></ValidationMessage>
                                    <div style="display: @DisplayEmailMessage">
                                        @BootstrapHelper.GetBootstrapMessage("warning", "This email is already registered.", "", false, "compact");
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="phone" class="formlabel required">@_lc.Keys["Phone"]</label>
                                <SfMaskedTextBox @ref="phoneTextBox" Mask='(000) 000-0000' ID="phone" @bind-Value="newVolunteer.Phone" Focus="HandlePhoneMaskFocus"></SfMaskedTextBox>
                                <div style="font-size: smaller">
                                    <ValidationMessage For="@(() => newVolunteer.Phone)"></ValidationMessage>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email" class="formlabel">@_lc.Keys["OrganizationOrGroup"]</label>
                                <SfTextBox ID="email" @bind-Value="newVolunteer.OrganizationOrGroup"></SfTextBox>
                            </div>
                            <div class="form-group">
                                <label for="numberOfVolunteers" class="formlabel">@_lc.Keys["NumberOfVolunteersIncludingYourself"]</label>
                                <SfNumericTextBox ID="numberOfVolunteers" TValue="int" Min="1" Max="100" @bind-Value="newVolunteer.NumberOfVolunteers"></SfNumericTextBox>
                            </div>
                            <div class="form-group">
                                <label for="inst" class="formlabel">@_lc.Keys["Message"]</label>
                                <SfTextBox ID="inst" @bind-Value="newVolunteer.Message" Multiline="true" HtmlAttributes="DescriptionHtmlAttribute"></SfTextBox>
                            </div>
                        </div>
                        <div class="card-footer  text-muted" style="text-align: center; font-size:small; color: GrayText; display: @DisplayExId">
                            <span>
                                Last Visit: @(newVolunteer.UpdateDate.HasValue ? Convert.ToDateTime(newVolunteer.UpdateDate, System.Globalization.CultureInfo.GetCultureInfo("en-US").DateTimeFormat) : "")
                            </span>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card">
                        <div class="card-header" style="text-align: center">@_lc.Keys["VolunteerInformationContinued"]</div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="otherLanguagesSpokenList" class="formlabel">@_lc.Keys["OtherLanguagesSpoken"]</label>
                                <SfMultiSelect id="otherLanguagesSpokenList" TValue="string[]" TItem="SpokenLanguage" @bind-value="@SelectedLanguages" DataSource="@SpokenLanguages" Placeholder="@_lc.Keys["SelectLanguages"]" Mode="VisualMode.CheckBox">
                                    <MultiSelectFieldSettings Text="Name" Value="Value"></MultiSelectFieldSettings>
                                </SfMultiSelect>
                            </div>
                            <div class="form-group">
                                <SfCheckBox Label="@_lc.Keys["DoYouAttendChurch"]" @bind-Checked="newVolunteer.AttendChurch"></SfCheckBox>
                            </div>
                            <div class="form-group">
                                <SfCheckBox Label="@_lc.Keys["SubscribeToOurEmail"]" @bind-Checked="newVolunteer.SubscribedEmail"></SfCheckBox>
                            </div>
                            <div class="form-group">
                                <SfCheckBox Label="@_lc.Keys["SubscribeToOurText"]" @bind-Checked="newVolunteer.SubscribedSms"></SfCheckBox>
                            </div>
                        </div>
                    </div>
                </div>

                @if (SelectedEvent != null && SelectedEvent.EventType == EventType.Delivery)
                {
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-header" style="text-align: center">
                                @_lc.Keys["DeliveryVehicle"]
                            </div>
                            <div class="card-body">
                                <div class="control-section">
                                    <div class="radio-control">
                                        @BootstrapHelper.GetBootstrapMessage("help", _lc.Keys["DeliveryVehicleQuestion"], "", false, "compact")
                                        <div class="row">
                                            <SfRadioButton Label="@_lc.Keys["DeliveryVehicleNone"]" Name="RadioBtn" Value="@VehicleType.None.ToString()" @bind-checked="newVolunteer.VehicleType" TChecked="VehicleType"></SfRadioButton>
                                        </div>
                                        <hr/>
                                        <div class="row">
                                            <SfRadioButton Label="@_lc.Keys["DeliveryVehicleMinivan"]" Name="RadioBtn" Value="@VehicleType.Minivan.ToString()" @bind-checked="newVolunteer.VehicleType" TChecked="VehicleType"></SfRadioButton>
                                        </div>
                                        <hr/>
                                        <div class="row">
                                            <SfRadioButton Label="@_lc.Keys["DeliveryVehicleSuv"]" Name="RadioBtn" Value="@VehicleType.SUV.ToString()" @bind-checked="newVolunteer.VehicleType" TChecked="VehicleType"></SfRadioButton>
                                        </div>
                                        <hr/>
                                        <div class="row">
                                            <SfRadioButton Label="@_lc.Keys["DeliveryVehicleTruck"]" Value="@VehicleType.Truck.ToString()" Name="RadioBtn" @bind-checked="newVolunteer.VehicleType" TChecked="VehicleType"></SfRadioButton>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
        
        @if (AreSignUpsAvailable)
        {
            <div class="row">
                <div class="col-md-12">&nbsp;</div>
            </div>
            <div class="row">
                <div class="col-md-3" style="text-align: center">
                    <ReCAPTCHA OnSuccess="OnSuccess" OnExpired="OnExpired"/>
                </div>
                <div id="myMessage" class="col-md-9">
                    <div class="alert alert-danger" role="alert" style="display: @MyMessageDisplay">
                        @MyMessage
                    </div>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-3" style="text-align: center">
                    <SfButton CssClass="btn btn-primary" OnClick="@SaveVolunteer">@_lc.Keys["SubmitVolunteerRegistration"]</SfButton>
                </div>
                <div class="col-md-9">
                </div>
            </div>
        }
    </EditForm>

</div>

<div id="finalMessage" class="container-fluid" style="display: @ResultDisplay">@FinalMessage</div>

@if (ResultDisplay != DisplayNone)
{
    <SfButton CssClass="btn btn-primary ms-4 mt-3" OnClick="@RefreshPage">@_lc.Keys["VolunteerForAnotherEvent"]</SfButton>
}


<style>
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
    }

    input[type=number] {
        -moz-appearance: textfield;
    }

    .required::after {
        content: '*';
        font-size: medium;
        font-weight: bold;
        margin-right: 4px;
        color: red;
    }

    .formlabel {
        color: #B4886B;
        font-weight: bold;
        font-size: small;
        display: block;
    }
</style>



