@using FilterType = Syncfusion.Blazor.Grids.FilterType
@using EditMode = Syncfusion.Blazor.Grids.EditMode
@using BedBrigade.Common.Models

@if (BedRequests == null)
{
    <Spinner />
}
else
{
    <div class="row">
        <div class="col-md-10 mt-3">
            <h3>@ManageBedRequestsMessage</h3>
        </div>
        <div class="col-md-2 mt-3">
            <UserInfo/>
        </div>
    </div>
    <div class="col-md-12">
    <div class="content-wrapper">
    <div class="row">
    <div style="width: 100%" >

                    <SfGrid @ref="Grid" TValue="BedRequest" DataSource=@BedRequests
                            ContextMenuItems=@ContextMenu
                            EnablePersistence="true"
                            ShowColumnChooser="true"
                            Toolbar=@ToolBar
                            AllowPaging="true"
                            AllowSorting="true"
                            AllowExcelExport="true"
                            ShowColumnMenu="true"
                            AllowFiltering="true"
                            AllowReordering="true"
                            AllowResizing="true"
                            AllowSelection="true"
                            AllowPdfExport="true"
                            AllowTextWrap="true"
                            AllowGrouping="true"
                            Width="100%"
                            >
                        <GridPageSettings PageSizes="@(new int[]{5,10,15,20,25})" PageSize="10" />
                        <GridEvents DataBound=@DataBound
                            Destroyed=@OnDestroyed
                            OnLoad=@OnLoad
                            OnToolbarClick=@OnToolBarClick
                            OnActionBegin=@OnActionBegin
                            TValue="BedRequest" />
                        <GridTemplates>
                            <EmptyRecordTemplate>
                                <span>@RecordText</span>
                            </EmptyRecordTemplate>
                        </GridTemplates>
                        <GridEditSettings Dialog=@DialogParams ShowDeleteConfirmDialog="true" Mode="@EditMode.Dialog">
                            <HeaderTemplate>
                                @{
                                    @HeaderTitle
                                  }
                            </HeaderTemplate>
                            <FooterTemplate>
                                <button class="btn btn-primary" @onclick=@(() => Save(context as BedRequest)) IsPrimary="true">@ButtonTitle</button>
                                <button class="btn btn-secondary" @onclick="(Cancel)">@_lc.Keys["Cancel"]</button>
                            </FooterTemplate>
                            <Template>
                                @{
                                    BedRequest BedRequest = (context as BedRequest)!;
                                    if(BedRequest.LocationId == Defaults.NationalLocationId)
                                    {
                                        BedRequest.LocationId = _svcAuth.LocationId;

                                    }
                                     <div class="row">
                                    <div class="col-md-3">
                                        <div class="card">
                                            <div class="card-header">@_lc.Keys["ContactInformation"]</div>
                                                <div class="card-body">
                                                <div class="form-group">
                                                    <label for="firstname" class="formlabel required">@_lc.Keys["FirstName"]</label>
                                                    <SfTextBox ID="firstname" @bind-Value="BedRequest.FirstName"></SfTextBox>
                                                    <div style="font-size: smaller">
                                                        <ValidationMessage For="@(() => BedRequest.FirstName)"></ValidationMessage>
                                                    </div>
                                                </div>

                                                <div class="form-group ">
                                                    <label for="lastname" class="formlabel required">@_lc.Keys["LastName"]</label>
                                                    <SfTextBox ID="lastname" @bind-Value="BedRequest.LastName"></SfTextBox>
                                                    <div style="font-size: smaller">
                                                        <ValidationMessage For="@(() => BedRequest.LastName)"></ValidationMessage>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="email" class="formlabel required">@_lc.Keys["Email"]</label>
                                                    <SfTextBox ID="email" @bind-Value="BedRequest.Email"></SfTextBox>
                                                    <div style="font-size: smaller">
                                                        <ValidationMessage For="@(() => BedRequest.Email)"></ValidationMessage>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="phone" class="formlabel required">@_lc.Keys["Phone"]</label>
                                                        <SfMaskedTextBox @ref="phoneTextBox" Mask='(000) 000-0000' ID="phone" @bind-Value="BedRequest.Phone" Focus="HandlePhoneMaskFocus"></SfMaskedTextBox>
                                                    <div style="font-size: smaller">
                                                        <ValidationMessage For="@(() => BedRequest.Phone)"></ValidationMessage>
                                                    </div>
                                                </div>
                                                </div>
                                        </div>
                                        </div>

                                        <div class="col-md-3">

                                            <div class="card">
                                                <div class="card-header">@_lc.Keys["DeliveryAddress"]</div>
                                                <div class="card-body">
                                                    <div class="form-group">
                                                        <label for="street" class="formlabel required">@_lc.Keys["Street"]</label>
                                                        <SfTextBox ID="street" @bind-Value="BedRequest.Street"></SfTextBox>
                                                        <div style="font-size: smaller">
                                                            <ValidationMessage For="@(() => BedRequest.Street)"></ValidationMessage>
                                                        </div>
                                                    </div>
                                                    <div class="form-group ">
                                                        <label for="city" class="formlabel required">@_lc.Keys["City"]</label>
                                                        <SfTextBox ID="city" @bind-Value="BedRequest.City"></SfTextBox>
                                                        <div style="font-size: smaller">
                                                            <ValidationMessage For="@(() => BedRequest.City)"></ValidationMessage>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="state" class="formlabel required">@_lc.Keys["State"]</label>
                                                            @{
                                                                if (BedRequest.BedRequestId > 0)
                                                                {
                                                                    var inputState = @AddressHelper.FindStateAbbreviation(StringUtil.IsNull(BedRequest.State, ""));
                                                                    BedRequest.State = inputState;
                                                                }
                                                            }
                                                            <SfDropDownList TValue="string" TItem="UsState" PopupHeight="350px" PopupWidth="350px" Placeholder="@_lc.Keys["SelectAState"]" DataSource="@StateList" @bind-Value="@BedRequest.State">
                                                            <DropDownListFieldSettings Value="StateCode" Text="StateName"></DropDownListFieldSettings>
                                                            <DropDownListEvents TValue="string" TItem="UsState"></DropDownListEvents>
                                                            <div style="font-size: smaller">
                                                                <ValidationMessage For="@(() => BedRequest.State)"></ValidationMessage>
                                                            </div>
                                                        </SfDropDownList>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="zip" class="formlabel required">@_lc.Keys["PostalCode"]</label>
                                                        <SfMaskedTextBox @ref="zipTextBox" ID="zip" Mask="00000" @bind-Value="@BedRequest.PostalCode" Focus="HandleZipMaskFocus"></SfMaskedTextBox>
                                                        <div style="font-size: smaller">
                                                            <ValidationMessage For="@(() => BedRequest.PostalCode)"></ValidationMessage>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="card">
                                                <div class="card-header">@_lc.Keys["BedRequestDetails"]</div>
                                                <div class="card-body">
                                                    <div class="form-group">
                                                        <label for="numbed" class="formlabel required">@_lc.Keys["NumberOfBeds"]</label>
                                                        <SfNumericTextBox ID="numbed" @bind-Value=@BedRequest.NumberOfBeds Min="1" Max="99" Enabled="true" />
                                                         <div style="font-size: smaller">
                                                            <ValidationMessage For="@(() => BedRequest.NumberOfBeds)"></ValidationMessage>
                                                        </div>
                                                    </div>
                                                    <div class="form-group ">
                                                        <label for="ages" class="formlabel required">@_lc.Keys["AgesGender"]</label>
                                                        <SfTextBox ID="ages" @bind-Value="BedRequest.AgesGender"></SfTextBox>
                                                        <div style="font-size: smaller">
                                                            <ValidationMessage For="@(() => BedRequest.AgesGender)"></ValidationMessage>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="inst" class="formlabel">@_lc.Keys["SpecialInstructions"]</label>
                                                        <SfTextBox ID="inst" @bind-Value="BedRequest.SpecialInstructions" Multiline="true" HtmlAttributes="DescriptionHtmlAttribute"></SfTextBox>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                         <div class="col-md-3">
                                            <div class="card">
                                                <div class="card-header">@_lc.Keys["Scheduling"]</div>
                                                <div class="card-body">
                                                    <div class="form-group">
                                                        <SfDropDownList TItem="Location" TValue="Int32" DataSource="Locations" @bind-Value=@BedRequest.LocationId Readonly=@OnlyRead Enabled="true" Placeholder="@_lc.Keys["Location"]" FloatLabelType="FloatLabelType.Auto">
                                                            <DropDownListFieldSettings Text="Name" Value="LocationId" />
                                                        </SfDropDownList>                                                  
                                                    </div>
                                                    <div class="form-group">
                                                        <SfDropDownList TItem="BedRequestEnumItem" TValue="BedRequestStatus" DataSource=@BedRequestStatuses @bind-Value=@BedRequest.Status Enabled="true" Placeholder="@_lc.Keys["Status"]" FloatLabelType="FloatLabelType.Auto">
                                                            <DropDownListFieldSettings Text="Name" Value="Value" />
                                                        </SfDropDownList>
                                                    </div>
                                                    <div class="form-group">
                                                        <SfDatePicker @bind-Value=@BedRequest.DeliveryDate Enabled="true" Placeholder="@_lc.Keys["DeliveryDate"]" FloatLabelType="FloatLabelType.Auto" />
                                                    </div>
                                                    <div class="form-group">
                                                        <SfTextBox @bind-Value=@BedRequest.Team MaxLength="50" Enabled="true" Placeholder="@_lc.Keys["Team"]" FloatLabelType="FloatLabelType.Auto" />
                                                    </div>
 
                                                </div>
                                            </div>
                                        </div>

                                    </div> 
                                                                                                          
                                     <div class="row" >
                                        <div class="col-md-9">
                                            <div class="container">

                                                @{
                                                    SpeakEnglishVisibility = "hidden";
                                                    if(!String.IsNullOrEmpty(BedRequest.PrimaryLanguage)){
                                                           if (BedRequest.PrimaryLanguage.Length > 0 && BedRequest.PrimaryLanguage != "English"){
                                                                SpeakEnglishVisibility = "visible";
                                                            }                                                        
                                                    }
                                                }

                                                <div class="row">
                                                    <div class="col-md-3" style="text-align: right; vertical-align:middle; white-space: nowrap">
                                                        <label class="formlabel required">@_lc.Keys["PrimaryLanguageCaption"]</label>
                                                    </div>
                                                    <div class="col-md-3" style="text-align: left">
                                                        <SfDropDownList TItem="string" TValue="string" DataSource=@lstPrimaryLanguage @bind-Value=@BedRequest.PrimaryLanguage Enabled="true" Placeholder="@_lc.Keys["PrimaryLanguagePlaceholder"]">
                                                            <DropDownListEvents TValue="string" TItem="string" ValueChange="OnLanguageChange"></DropDownListEvents>
                                                        </SfDropDownList>                                                  
                                                    </div>
                                                    <div class="col-md-3" style="text-align: right; vertical-align:middle; white-space: nowrap; visibility: @SpeakEnglishVisibility">
                                                        <label class="formlabel required">@_lc.Keys["SpeakEnglishCaption"]</label>
                                                    </div>
                                                    <div class="col-md-3" style="text-align: left; visibility: @SpeakEnglishVisibility">
                                                        <SfDropDownList TItem="string" TValue="string" DataSource=@lstSpeakEnglish @bind-Value=@BedRequest.SpeakEnglish Enabled="true" Placeholder="@_lc.Keys["SpeakEnglishPlaceholder"]">
                                                        </SfDropDownList>                                                  
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3"></div>
                                    </div>

                                    <div class="row" >                                       
                                     <div class="col-md-12">
                                            <div class="form-group">
                                            <label for="note" class="formlabel required">@_lc.Keys["Notes"]</label>
                                               <SfTextBox ID="note" CssClass="custom-textbox-height" @bind-Value=@BedRequest.Notes Enabled="true" Placeholder="@_lc.Keys["Notes"]" Multiline="true"  FloatLabelType="FloatLabelType.Never" />
                                            </div>
                                     </div>
                                    </div>
                                }
                            </Template>
                        </GridEditSettings>
                        <GridFilterSettings Type="FilterType.CheckBox"></GridFilterSettings>
                        <GridSortSettings>
                            <GridSortColumns>
                                <GridSortColumn Field="@nameof(BedRequest.LocationId)" Direction="SortDirection.Ascending" />
                                <GridSortColumn Field="@nameof(BedRequest.CreateDate)" Direction="SortDirection.Ascending" />
                            </GridSortColumns>
                        </GridSortSettings>
                        <GridColumns>
                            <GridColumn Field=@nameof(BedRequest.BedRequestId) IsPrimaryKey="true" Visible="false" ShowInColumnChooser="false" />
                            <GridForeignColumn Field=@nameof(BedRequest.LocationId) Visible=@IsLocationColumnVisible ShowColumnMenu="false" HeaderText="Location" ForeignDataSource=@Locations ForeignKeyField="LocationId" ForeignKeyValue="Name" AllowFiltering="true" AllowGrouping="true" AutoFit="true" />
                            <GridColumn Field=@nameof(BedRequest.FullName) ShowColumnMenu="false" HeaderText="Name" Type="ColumnType.String" AllowEditing="false" AllowFiltering="true" AutoFit="true" />
                            <GridColumn Field=@nameof(BedRequest.FormattedPhone) ShowColumnMenu="false" HeaderText="Phone" Type="ColumnType.String" AllowEditing="false" AllowFiltering="false" AutoFit="true" />
                            <GridColumn Field=@nameof(BedRequest.Street) ShowColumnMenu="false" HeaderText="Address" Type="ColumnType.String" AllowEditing="false" AllowFiltering="false" AutoFit="true" />
                            <GridColumn Field=@nameof(BedRequest.PostalCode) ShowColumnMenu="false" HeaderText="Zip" Type="ColumnType.String" AllowEditing="false" AllowFiltering="true" AllowGrouping="true" AutoFit="true" />
                            <GridColumn Field=@nameof(BedRequest.CreateDate) Format="d" ShowColumnMenu="false" HeaderText="Added to List" Type="ColumnType.Date" AllowEditing="false" AllowFiltering="false" AutoFit="true" />
                            <GridColumn Field=@nameof(BedRequest.NumberOfBeds) ShowColumnMenu="false" HeaderText="Beds" Type="ColumnType.Integer" AllowEditing="false" AllowFiltering="true" AutoFit="true" />
                            <GridColumn Field=@nameof(BedRequest.StatusString) ShowColumnMenu="false" HeaderText="Status" Type="ColumnType.String" AllowEditing="false" AllowFiltering="true" AutoFit="true" />
                            <GridColumn Field=@nameof(BedRequest.AgesGender) ShowColumnMenu="false" HeaderText="Gender/Age" Type="ColumnType.String" AllowEditing="false" AllowFiltering="false" AutoFit="true" />                           
                            <GridColumn Field=@nameof(BedRequest.DeliveryDate) Format="d" ShowColumnMenu="false" HeaderText="Delivery Date" Type="ColumnType.Date" AllowEditing="false" AllowFiltering="true" AutoFit="true" />
                            <GridColumn Field=@nameof(BedRequest.Team) ShowColumnMenu="false" HeaderText="Team" Type="ColumnType.String" AllowEditing="false" AllowFiltering="true" AllowGrouping="false" AutoFit="true" />
                            <GridColumn Field=@nameof(BedRequest.Notes) ShowColumnMenu="false" HeaderText="Notes" Type="ColumnType.String" AllowEditing="false" AllowFiltering="false" AutoFit="true" />
                            <GridColumn Field=@nameof(BedRequest.PrimaryLanguage) ShowColumnMenu="false" HeaderText="Primary Language" Type="ColumnType.String" AllowEditing="false" AllowFiltering="false" AllowGrouping="false" AutoFit="true" />
                            <GridColumn Field=@nameof(BedRequest.SpeakEnglish) ShowColumnMenu="false" HeaderText="Speak English" Type="ColumnType.String" AllowEditing="false" AllowFiltering="false" AutoFit="true" />
                            <GridColumn Field=@nameof(BedRequest.Distance) ShowColumnMenu="false" HeaderText="Distance" Format="N3" Type="ColumnType.Number" AllowEditing="false" AllowFiltering="false" AutoFit="true" />
                        </GridColumns>
                    </SfGrid>
                   </div>
                </div>
            </div>
        </div>
}


<SfDialog Width="300px" ShowCloseIcon="true" IsModal="true" @bind-Visible="@IsDialogVisible">
    <DialogTemplates>
        <Header>@DialogHeader</Header>
        <Content>@DialogContent</Content>
    </DialogTemplates>
    <DialogButtons>
        <DialogButton Content="OK" IsPrimary="true" OnClick="@DialogOkClick" />
    </DialogButtons>
</SfDialog>

@if (NoPaging)
{
    <style>
        .e-pager {
            display: none;
        }
    </style>
}

<style>
    /***************************************** BedRequestGrid.razor.css ********************************************/

    .e-grid td.e-rowcell.e-focus.e-focused {
        box-shadow: none;
    }

    .e-grid th.e-headercell.e-focus.e-focused {
        box-shadow: none;
    }

    .e-dialog .e-dlg-header {
        font-size: 1.75rem;
        font-weight: 700;
    }

    .custom-textbox-height {
        height: 80px;
    }
</style>