@page "/homerow3"

<div class="delivering-top-section widget widget-align-justify widget-size-100">
    <div class="Container " style="background-color:#ffffff;">
        <section class="flow">
            <div class="widget widget-image widget-align-justify widget-size-50 widget-image">
                <div class="widget-body">
                    <div class="field field-type-mediafield field-name-image-media">
                        <span class="name">Image</span>
                        <img src="@ImagePath">
                    </div>
                    <div class="field field-type-textfield field-name-image-caption">
                    </div>
                </div>
            </div>
            <div class="widget widget-h-t-m-l-block widget-align-justify widget-size-50 widget-h-t-m-l-block">
                <div class="widget-body">
                    <h2>@Heading</h2>
                    <p>@Text</p>
                    <p><a href="@UrlPath">@ButtonCaption</a></p>
                </div>
            </div>
        </section>
    </div>
</div>

@code {

    [Parameter] public string ImagePath { get; set; } = "media/columbus/pages/Home/work-img1.jpg";
    [Parameter] public string Heading { get; set; } = "Building and Delivering Beds Since 2012";
    [Parameter] public string Text { get; set; } = "Bed Brigade is a non-profit charity that Builds and Delivers Beds for those that need them.&nbsp; If you are in need of a Bed, Bed Brigade is ready to serve you.&nbsp;&nbsp;";
    [Parameter] public string ButtonCaption { get; set; } = "About Us";
    [Parameter] public string UrlPath { get; set; } = "/about-us";


}
