@using Syncfusion.Blazor.FileManager
@using System.Diagnostics
@using BedBrigade.Client.Components
@inject NavigationManager NavigationManager
@inject IJSRuntime jsRuntime

<div class="row"><div class="col">&nbsp;</div></div>
<div class="row">
        <div class="col">
           <h3>Media File Manager</h3>
         </div>
         <div class="col" style="text-align:right; font-size: small">                          
              <i class="fa fa-user-circle-o" aria-hidden="true"></i>&nbsp;@userRole&nbsp;
                 @if (isLocationAdmin)
                {
                <span>[Folder: @userRoute]</span>
                }
                <br />@userName
          </div>
</div> 
          
<div class="row">
<div class="col-md-12">
<div class="control-section">
            <SfFileManager @ref="fileManager"
                TValue="FileManagerDirectoryContent"
                CssClass="file-manager"
                AllowMultiSelection="true"
                Height="700px"
                Width="100%"
                >
                <FileManagerAjaxSettings 
                    Url="@dctUrlX["Operations"]"
                    UploadUrl="@dctUrlX["Upload"]"
                    DownloadUrl="@dctUrlX["Download"]"
                    GetImageUrl="@dctUrlX["Image"]"
        >
        </FileManagerAjaxSettings>
                <FileManagerEvents TValue="FileManagerDirectoryContent"
                    OnSuccess="success"
                    MenuOpened="OnMenuOpen"
                    OnSend="onsend"                    
                    BeforeImageLoad="beforeImageLoad" 
                    BeforeDownload="beforeDownload"
                >
                </FileManagerEvents> 
                <FileManagerUploadSettings
                    AllowedExtensions="@AllowedExtensions"
                    MaxFileSize="@MaxFileSize"
                >
                </FileManagerUploadSettings>
    </SfFileManager>
</div>
</div>
</div>

@code{

   
    public string currentUrl=String.Empty;
    public string? DownloadUrl { get; set; }
    private Dictionary<string, string> dctUrlX = new Dictionary<string, string>();
    

    // custom data dictionary

    protected override void OnInitialized()
    {       
        currentUrl = NavigationManager.BaseUri.ToString() + "FileManager/";
        dctUrlX.Add("Operations", currentUrl+"FileOperations");
        dctUrlX.Add("Upload", currentUrl + "Upload");
        dctUrlX.Add("Download", currentUrl + "Download");
        dctUrlX.Add("Image", currentUrl + "GetImage");
    }

  

}

