
@if (isLoading)
{
    <Spinner />
}
else
{
    if (!imagesFound)
    {
        <p><span>@_lc.Keys["NoImagesWereFound"]</span></p>
        <p><span>@_lc.Keys["LocationPathColon"] @locationPath</span></p>
        <p><span>@_lc.Keys["NationalPathColon"] @nationalPath</span></p>
    }
    else
    {
        <img src="@imagePath" id="@myId" class="slider-angle-img" height="500" width="100%" />
    }
}
