 <div class="container-fluid mt-4">
    <div class="row">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <!-- Navbar Brand -->
                <a class="navbar-brand" href="#">Media Manager</a>

                <!-- Navbar Items -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <!-- Action Buttons -->
                        @if (EnableFolderOperations)
                        {
                            <li class="nav-item">
                                <button class="btn me-2 nav-link" @onclick="ShowNewFolderModal">
                                    <i class="fas fa-folder-plus"></i> New Folder
                                </button>
                            </li>
                            <li class="nav-item">
                                <button class="btn me-2 nav-link" @onclick="ConfirmDeleteFolder">
                                    <i class="fas fa-folder-minus"></i> Delete Folder
                                </button>
                            </li>
                            <li class="nav-item">
                                <button class="btn me-2 nav-link" @onclick="ShowRenameFolderModal">
                                    <i class="fas fa-edit"></i> Rename Folder
                                </button>
                            </li>
                        }
                        <li class="nav-item">
                            <button class="btn me-2 nav-link" @onclick="ShowRenameFileModal" disabled="@(SelectedFiles.Count != 1)">
                                <i class="fas fa-edit"></i> Rename File
                            </button>
                        </li>
                        <li class="nav-item">
                            <button class="btn me-2 nav-link" @onclick="ConfirmDeleteFiles" disabled="@(SelectedFiles.Count == 0)">
                                <i class="fas fa-trash-alt"></i> Delete Files
                            </button>
                        </li>
                        <li class="nav-item">
                            <label class="btn me-2 nav-link" for="fileUpload">
                                <i class="fas fa-upload"></i> Upload File
                                <InputFile id="fileUpload" hidden OnChange="HandleFileUpload" multiple />
                            </label>
                        </li>
                        <li class="nav-item">
                            <button class="btn me-2 nav-link" @onclick="ShowFileInfo" disabled="@(SelectedFiles.Count != 1)">
                                <i class="fas fa-info-circle"></i> Info
                            </button>
                        </li>
                        <li class="nav-item">
                            <button class="btn me-2 nav-link" @onclick="RefreshContent">
                                <i class="fas fa-sync"></i> Refresh
                            </button>
                        </li>
                    </ul>
                    <form class="form-inline">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" @bind="SearchQuery" @bind:event="oninput">
                    </form>
                </div>
            </div>
        </nav>
        
        @if (String.IsNullOrEmpty(RootFolder))
        {
            <p>Loading...</p>
        }
        else
        {
            <!-- Folder Tree -->
            <div class="col-md-3">
                <h5><i class="fas fa-folder"></i> Folders</h5>
                <div class="folder-tree">
                    <ul class="list-group">
                        @foreach (var folder in Folders)
                        {
                            <li class="list-group-item">
                                @RenderFolder(folder)
                            </li>
                        }
                    </ul>
                </div>
            </div>

            <!-- File Viewer -->
            <div class="col-md-9">
                <h5><i class="fas fa-file"></i> Files</h5>
                <!-- Current Path -->
                <div>
                    <strong>Current Path:</strong> @DisplayPath
                </div>
                <div class="row">
                    @if (Files != null && Files.Any())
                    {
                        @foreach (var file in Files)
                        {
                            <div class="col-6 col-md-4 col-lg-3 text-center mb-4" @onclick="() => ToggleFileSelection(file)" @ondblclick="() => OpenFileInModal(file)">
                                <div class="position-relative">
                                    <input type="checkbox" class="file-checkbox" @bind="file.IsSelected"/>
                                    @if (file.Type == "image")
                                    {
                                        <img src="@file.Path" alt="@file.Name" class="img-thumbnail"/>
                                    }
                                    else if (file.Type == "video")
                                    {
                                        <video src="@file.Path" class="img-thumbnail" controls></video>
                                    }
                                    else if (file.Type == "pdf")
                                    {
                                        <i class="fas fa-file-pdf fa-3x text-danger"></i>
                                    }
                                    else
                                    {
                                        <i class="fas fa-file fa-3x"></i>
                                    }
                                </div>
                                <p>@file.Name</p>
                            </div>
                        }
                    }
                    else
                    {
                        <p class="mt-5">No files in this folder.</p>
                    }
                </div>
            </div>
        }
    </div>
</div>

<Modal @ref="MyModal" />

<style>
    .folder-tree {
        max-height: 730px;
        overflow-y: auto;
        padding: 10px;
        background-color: #f9f9f9;
    }

    .list-group-item {
        border: none;
        padding: 5px;
        color: black;
    }

        .list-group-item .btn-link {
            text-decoration: none;
            color: black;
        }

            .list-group-item .btn-link:hover {
                color: #333;
            }

        .list-group-item i.fas.fa-folder {
            color: #ffc107;
        }

    .current-path {
        max-width: 60%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .file-checkbox {
        position: absolute;
        top: 5px;
        left: 5px;
        z-index: 10;
    }
</style>
