@page "/homerow2"

<div class="opportunity-block-section widget widget-align-justify widget-size-100">
    <div class="Container " style="background-color:#ffffff;">
        <section class="flow">
            <div class="widget widget-h-t-m-l-block widget-align-left widget-size-33 widget-h-t-m-l-block">
                <div class="widget-body">
                    <h2>@Notice</h2>
                </div>
            </div>
            <div class="opportunity-block-right widget widget-align-justify widget-size-66">
                <div class="Container " style="background-color:#0d6730;">
                    <section class="flow">
                        <div class="widget widget-h-t-m-l-block widget-align-justify widget-size-33 widget-h-t-m-l-block">
                            <div class="widget-body">
                                <p>@WidgetHeading1</p>
                                <a href="@UrlPath1">@ButtonCaption1</a>
                            </div>
                        </div>
                        <div class="widget widget-h-t-m-l-block widget-align-justify widget-size-33 widget-h-t-m-l-block">
                            <div class="widget-body">
                                <p>@WidgetHeading2</p><a href="@UrlPath2">@ButtonCaption2</a>
                            </div>
                        </div>
                        <div class="widget widget-h-t-m-l-block widget-align-justify widget-size-33 widget-h-t-m-l-block">
                            <div class="widget-body">
                                <p>@WidgetHeading3</p><p><a href="@UrlPath3">@ButtonCaption3</a></p>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </section>
    </div>
</div>

@code {

    [Parameter] public string WidgetHeading1 { get; set; } = "Need parameter WidgetHeading1";
    [Parameter] public string WidgetHeading2 { get; set; } = "Need parameter WidgetHeading2";
    [Parameter] public string WidgetHeading3 { get; set; } = "Need parameter WidgetHeading3";
    [Parameter] public string Notice { get; set; } = "Need parameter Notice";
    [Parameter] public string ImagePath { get; set; } = "media/columbus/pages/Home/work-img1.jpg";
    [Parameter] public string Heading { get; set; } = "Building and Delivering Beds Since 2012";
    [Parameter] public string Text { get; set; } = "Bed Brigade is a non-profit charity that Builds and Delivers Beds for those that need them.&nbsp; If you are in need of a Bed, Bed Brigade is ready to serve you.&nbsp;&nbsp;";
    [Parameter] public string ButtonCaption1 { get; set; } = "Request A Bed";
    [Parameter] public string ButtonCaption2 { get; set; } = "Volunteer";
    [Parameter] public string ButtonCaption3 { get; set; } = "Donate";
    [Parameter] public string UrlPath1 { get; set; } = "/request";
    [Parameter] public string UrlPath2 { get; set; } = "/volunteer";
    [Parameter] public string UrlPath3 { get; set; } = "/donation";

}