@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Notifications
@using Syncfusion.Blazor.Buttons
@using LabelPosition = Syncfusion.Blazor.Buttons.LabelPosition
@using EditMode = Syncfusion.Blazor.Grids.EditMode
@using WrapMode = Syncfusion.Blazor.Grids.WrapMode
@using SelectionType = Syncfusion.Blazor.Grids.SelectionType
@using SelectionMode = Syncfusion.Blazor.Grids.SelectionMode
@using BedBrigade.Data.Models


@if (BBUsers == null || Locations == null)
{
    <span class="spinner-grow m-5"></span>

    <span>Loading ....</span>
}
else
{
    <fieldset class="m-4">
        <legend>Bed Brigade Users</legend>
        <div class="col-md-12 control-sec">
            <div class="content-wrapper">
                <div class="row align-content-center">
                    <SfGrid @ref="Grid" TValue="User" DataSource=@BBUsers 
                        ContextMenuItems=@ContextMenu
                        EnablePersistence="true"
                        ShowColumnChooser="true"
                        Toolbar=@ToolBar
                        AllowPaging="true"
                        AllowSorting="true"
                        AllowExcelExport="true"
                        ShowColumnMenu="true"
                        AllowFiltering="false"
                        AllowReordering="true"
                        AllowResizing="true"
                        AllowSelection="true"
                        AllowPdfExport="true"
                        AllowTextWrap="true">
                        <GridTextWrapSettings WrapMode="WrapMode.Header" />
                        <GridPageSettings PageSizes="@(new int[] { 5, 10, 15, 20, 25 })" PageSize="15" />
                        <GridEvents DataBound=@DataBound OnToolbarClick=@OnToolBarClick OnActionBegin=@OnActionBegin TValue="User" />
                        <GridSelectionSettings Mode="SelectionMode.Row" CellSelectionMode="CellSelectionMode.Flow" Type="SelectionType.Single"/>
                        <GridEditSettings Dialog=@DialogParams ShowDeleteConfirmDialog="true" AllowAdding="true" AllowEditOnDblClick="true" AllowEditing="true" AllowDeleting="true" Mode="@EditMode.Dialog">
                            <HeaderTemplate>
                                @{
                                    <span>@HeaderTitle</span>
                                }
                            </HeaderTemplate>
                            <FooterTemplate>
                                <SfButton CssClass="btn btn-primary" OnClick=@(() => Save(context as User)) IsPrimary="true">@ButtonTitle</SfButton>
                                <SfButton OnClick=@Cancel>Cancel</SfButton>
                            </FooterTemplate>
                            <Template>
                                @{
                                    var user = (context as User);
                                    <div class="row">
                                        <div class="col-md-6">
                                            <SfTextBox ID="username" CssClass="form-control" @bind-Value=@user.UserName Enabled=@AddUser Placeholder="User Name" FloatLabelType="FloatLabelType.Auto" />
                                        </div>
                                        <div class="col-md-6">
                                            <SfTextBox ID="password" @bind-Value=@userRegister.Password Enabled=@UserPass Placeholder="Password" FloatLabelType="FloatLabelType.Auto" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <SfTextBox ID="firstname" CssClass="form-control" @bind-Value=@user.FirstName Enabled="true" Placeholder="First Name" FloatLabelType="FloatLabelType.Auto" />
                                        </div>
                                        <div class="col-md-6">
                                            <SfTextBox ID="lastname" CssClass="form-control" @bind-Value=@user.LastName Enabled="true" Placeholder="Last Name" FloatLabelType="FloatLabelType.Auto" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <SfMaskedTextBox ID="phone" Mask="(000) 000-0000" @bind-Value=@user.Phone Enabled="true" Placeholder="Phone Number" FloatLabelType="FloatLabelType.Auto" />
                                        </div>
                                        <div class="col-md-6">
                                            <SfTextBox ID="email" @bind-Value=@user.Email Enabled="true" Placeholder="Email" FloatLabelType="FloatLabelType.Auto" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <SfDropDownList TItem="Location" TValue="Int32" DataSource="Locations" @bind-Value=@user.LocationId Enabled="true" Placeholder="Location" FloatLabelType="FloatLabelType.Auto" >
                                                <DropDownListFieldSettings Text="Name" Value="LocationId" />
                                            </SfDropDownList>
                                        </div>
                                        <div class="col-md-6">
                                            <SfDropDownList ID="role" TItem="Role" TValue="Int32" DataSource="Roles" @bind-Value=@user.FkRole Enabled="true" Placeholder="Role" FloatLabelType="FloatLabelType.Auto" >
                                                <DropDownListFieldSettings Text="Name" Value="RoleId" />
                                            </SfDropDownList>
                                        </div>
                                    </div>
                                }
                            </Template>
                        </GridEditSettings>
                        <GridSortSettings>
                            <GridSortColumns>
                                <GridSortColumn Field="LocationId" Direction="SortDirection.Ascending" />
                            </GridSortColumns>
                        </GridSortSettings>
                        <GridColumns>
                            <GridColumn Field=@nameof(User.UserName) Visible="false" ShowColumnMenu="false" AllowFiltering="false" HeaderText="User Name" HeaderTextAlign="TextAlign.Center" Type="ColumnType.String" AutoFit="false" />
                            <GridColumn Field=@nameof(User.FullName) ShowColumnMenu="false" AllowFiltering="false" HeaderText="Name" HeaderTextAlign="TextAlign.Center" Type="ColumnType.String" AutoFit="false" />
                            <GridColumn Field=@nameof(User.Phone) ShowColumnMenu="false" AllowFiltering="false" HeaderText="Phone" HeaderTextAlign="TextAlign.Center" Type="ColumnType.String" AutoFit="false" />
                            <GridColumn Field=@nameof(User.Email) ShowColumnMenu="false" AllowFiltering="false" HeaderText="Email" HeaderTextAlign="TextAlign.Center" Type="ColumnType.String" AutoFit="false" />
                            <GridColumn Field=@nameof(User.Role) ShowColumnMenu="false" AllowFiltering="false" HeaderText="User Role" HeaderTextAlign="TextAlign.Center" AutoFit="false" />
                            <GridForeignColumn Field=@nameof(User.LocationId) ForeignDataSource=@Locations ForeignKeyField="LocationId" ForeignKeyValue="Name" ShowColumnMenu="false" AllowFiltering="false" HeaderText="Location" HeaderTextAlign="TextAlign.Center" AutoFit="false" />
                        </GridColumns>
                    </SfGrid>

                </div>
            </div>
        </div>
    </fieldset>
}
<SfToast ID="SaveToast" @ref=@ToastObj Title="@ToastTitle" Width="300" Timeout=@ToastTimeout Target="#UserTarget">
    <ToastPosition X="Center" Y="Top"></ToastPosition>
</SfToast>

@if (NoPaging)
{
    <style>
        .e-pager {
            display: none;
        }
    </style>
}

<style>
    /***************************************** VolunteerGrid.razor.css ********************************************/

    .e-grid td.e-rowcell.e-focus.e-focused {
        box-shadow: none;
    }

    .e-grid th.e-headercell.e-focus.e-focused {
        box-shadow: none;
    }


    .e-toast-container {
        margin-top: 450px;
    }

        .e-toast-container .e-toast {
            border: 1px solid black;
            border-radius: 25px;
        }
            /*Use the following CSS to customize the default toast’s title properties like font-family, font-size and color.*/
            .e-toast-container .e-toast .e-toast-message .e-toast-title {
                color: deepskyblue;
                font-size: 18px;
                font-weight: bold;
                text-align: center;
            }
            /*Use the following CSS to customize the default toast’s content properties like font-family, font-size and color.*/
            .e-toast-container .e-toast .e-toast-message .e-toast-content {
                color: black;
                font-size: 14px;
                font-weight: bold;
                background-color: lightskyblue;
                padding: 5px;
                width: 100%;
                height: 50px;
                vertical-align: middle;
                text-align: center;
            }

    .e-dialog .e-dlg-header {
        font-size: 1.75rem;
        font-weight: 700;
    }

</style>