@layout Layout.AdminLayout
@page "/administration/manage/volunteers"

@using FilterType = Syncfusion.Blazor.Grids.FilterType
@using EditMode = Syncfusion.Blazor.Grids.EditMode
@using WrapMode = Syncfusion.Blazor.Grids.WrapMode
@using BedBrigade.Common.Models

<CheckAuth Roles=@RoleNames.CanViewVolunteers></CheckAuth>

@if (Volunteers == null)
{
    <Spinner />
}
else
{
    <div class="row"><div class="col">&nbsp;</div></div>
    <div class="row">
        <div class="col-md-6 ms-3">
            <h2>Manage Volunteers</h2>
        </div>
        <div class="col-md-6" style="text-align:right; font-size: small">
            <i class="fa fa-user-circle-o" aria-hidden="true"></i>&nbsp;@userRole&nbsp;
            @if (isLocationAdmin)
            {
                <span>[Location: @userLocationName]</span>
            }
            <br />@userName
        </div>
    </div>

    <div class="row">
        <div class="content-wrapper col-md-12">
            <div style="width: 100%">
                <SfGrid @ref="Grid" TValue="Volunteer" DataSource=@Volunteers
                        ContextMenuItems=@ContextMenu
                        EnablePersistence="true"
                        ShowColumnChooser="true"
                        Toolbar=@ToolBar
                        AllowPaging="true"
                        AllowSorting="true"
                        AllowExcelExport="true"
                        ShowColumnMenu="true"
                        AllowFiltering="true"
                        AllowReordering="true"
                        AllowResizing="true"
                        AllowSelection="true"
                        AllowPdfExport="true"
                        AllowTextWrap="true"
                        AllowGrouping="true"
                        Width="100%">
                    <GridTextWrapSettings WrapMode="WrapMode.Content" />
                    <GridPageSettings PageSizes="@(new int[]{5,10,15,20,25,50,100})" PageSize="15" />
                    <GridEvents DataBound=@DataBound OnLoad="@OnLoad" Destroyed=@OnDestroyed OnToolbarClick=@OnToolBarClick OnActionBegin=@OnActionBegin TValue="Volunteer" />
                    <GridTemplates>
                        <EmptyRecordTemplate>
                            <span>@RecordText</span>
                        </EmptyRecordTemplate>
                    </GridTemplates>
                    <GridEditSettings AllowAdding="true" AllowEditing="true" AllowDeleting="true" ShowDeleteConfirmDialog="true" />
                    <GridFilterSettings Type="FilterType.CheckBox"></GridFilterSettings>
                    <GridSortSettings>
                        <GridSortColumns>
                            <GridSortColumn Field="@nameof(Volunteer.LocationId)" Direction="SortDirection.Ascending" />
                            <GridSortColumn Field="@nameof(Volunteer.FullName)" Direction="SortDirection.Ascending" />
                        </GridSortColumns>
                    </GridSortSettings>
                    <GridGroupSettings ShowDropArea="true" EnableLazyLoading="true" />
                    <GridColumns>
                        <GridColumn Field=@nameof(Volunteer.VolunteerId) Visible="false" HeaderText="ID" TextAlign="TextAlign.Right" IsPrimaryKey="true" AutoFit="true" AllowFiltering="false" AllowEditing="false" AllowAdding="false"></GridColumn>
                        <GridForeignColumn Field=@nameof(Volunteer.LocationId) ForeignDataSource=@Locations ForeignKeyField="LocationId" ForeignKeyValue="Name" ShowColumnMenu="true" HeaderText="Location" Type="ColumnType.String" AllowEditing="false" AllowGrouping="true" AllowFiltering="true" AutoFit="true" />
                        <GridColumn Field=@nameof(Volunteer.FullName) ShowColumnMenu="false" HeaderText="Name" Type="ColumnType.String" AllowEditing="false" AllowFiltering="false" AutoFit="true" />
                        <GridColumn Field=@nameof(Volunteer.Email) ShowColumnMenu="false" HeaderText="Email" Type="ColumnType.String" AllowEditing="false" AllowFiltering="false" AutoFit="true" />
                        <GridColumn Field=@nameof(Volunteer.Phone) ShowColumnMenu="false" HeaderText="Phone" Format="(000) 000-0000" Type="ColumnType.String" AllowEditing="false" AllowFiltering="false" AutoFit="true">
                            <Template>
                                @{
                                    var request = (context as Volunteer);
                                    @request.Phone.FormatPhoneNumber()
                                    ;
                                }
                            </Template>
                        </GridColumn>
                        <GridColumn Field=@nameof(Volunteer.OrganizationOrGroup) ShowColumnMenu="false" HeaderText="Organization" Type="ColumnType.String" AllowEditing="false" AllowFiltering="false" AutoFit="true" />
                        <GridForeignColumn Field=@nameof(Volunteer.VehicleType) ForeignDataSource=@lstVehicleTypes ForeignKeyField="Value" ForeignKeyValue="Name" ShowColumnMenu="false" HeaderText="Vehicle Type" Type="ColumnType.String" AllowEditing="false" AllowGrouping="false" AllowFiltering="false" AutoFit="true" />
                        <GridColumn Field=@nameof(Volunteer.IHaveVolunteeredBefore) ShowColumnMenu="false" Type="ColumnType.Boolean" HeaderText="Previous Volunteer" AllowEditing="false" AllowFiltering="false" TextAlign="TextAlign.Center" EditType="EditType.BooleanEdit" DisplayAsCheckBox="true" AutoFit="true" />
                        <GridColumn Field=@nameof(Volunteer.AttendChurch) ShowColumnMenu="false" Type="ColumnType.Boolean" HeaderText="Attend Church?" AllowEditing="false" AllowFiltering="false" TextAlign="TextAlign.Center" EditType="EditType.BooleanEdit" DisplayAsCheckBox="true" AutoFit="true" />
                        <GridColumn Field=@nameof(Volunteer.SubscribedEmail) ShowColumnMenu="false" Type="ColumnType.Boolean" HeaderText="Subscribed Email" AllowEditing="false" AllowFiltering="false" TextAlign="TextAlign.Center" EditType="EditType.BooleanEdit" DisplayAsCheckBox="true" AutoFit="true" />
                        <GridColumn Field=@nameof(Volunteer.SubscribedSms) ShowColumnMenu="false" Type="ColumnType.Boolean" HeaderText="Subscribed Text" AllowEditing="false" AllowFiltering="false" TextAlign="TextAlign.Center" EditType="EditType.BooleanEdit" DisplayAsCheckBox="true" AutoFit="true" />
                        <GridColumn Field=@nameof(Volunteer.OtherLanguagesSpoken) HeaderText="Other Languages" Type="ColumnType.String" HeaderTextAlign="TextAlign.Left" ClipMode="ClipMode.EllipsisWithTooltip" ShowColumnMenu="false" AllowEditing="false" AllowFiltering="false" Width="200px" />
                        <GridColumn Field=@nameof(Volunteer.Message) HeaderText="Notes" Type="ColumnType.String" HeaderTextAlign="TextAlign.Left" ClipMode="ClipMode.EllipsisWithTooltip" ShowColumnMenu="false" AllowEditing="false" AllowFiltering="false" Width="200px" />
                    </GridColumns>
                </SfGrid>
            </div>
        </div>
    </div>
}


@ErrorMessage

@if (NoPaging)
{
    <style>
        .e-pager {
            display: none;
        }
    </style>
}

<style>
    /***************************************** ManageVolunteers.razor.css ********************************************/

    .e-grid td.e-rowcell.e-focus.e-focused {
        box-shadow: none;
    }

    .e-grid th.e-headercell.e-focus.e-focused {
        box-shadow: none;
    }




    .e-dialog .e-dlg-header {
        font-size: 1.75rem;
        font-weight: 700;
    }

</style>
