@layout Layout.AdminLayout
@page "/administration/manage/volunteers"

@using FilterType = Syncfusion.Blazor.Grids.FilterType
@using BedBrigade.Common.Models

<CheckAuth Roles=@RoleNames.CanViewVolunteers></CheckAuth>

@if (Volunteers == null)
{
    <Spinner />
}
else
{
    <div class="row mt-3">
        <div class="col-md-10 ps-3">
            <h3>@ManageVolunteersMessage</h3>
        </div>
        <div class="col-md-2 ps-3 ps-md-0">
            <UserInfo/>
        </div>
    </div>

    <div class="col-md-12 control-sec">
        <div class="content-wrapper">
            <div class="row">
                <SfGrid @ref="Grid" TValue="Volunteer" DataSource=@Volunteers
                        ContextMenuItems=@ContextMenu
                        EnablePersistence="true"
                        ShowColumnChooser="true"
                        Toolbar=@ToolBar
                        AllowPaging="true"
                        AllowSorting="true"
                        AllowExcelExport="true"
                        ShowColumnMenu="false"
                        AllowFiltering="true"
                        AllowReordering="true"
                        AllowResizing="true"
                        AllowSelection="true"
                        AllowPdfExport="true"
                        AllowTextWrap="false"
                        AllowGrouping="true"
                        Width="100%"
                        ClipMode="ClipMode.EllipsisWithTooltip">
                    <GridPageSettings PageSizes="@(new int[]{5,10,15,20,25,50,100})" PageSize="15" />
                    <GridEvents DataBound=@DataBound OnLoad="@OnLoad" Destroyed=@OnDestroyed OnToolbarClick=@OnToolBarClick OnActionBegin=@OnActionBegin TValue="Volunteer" />
                    <GridTemplates>
                        <EmptyRecordTemplate>
                            <span>@RecordText</span>
                        </EmptyRecordTemplate>
                    </GridTemplates>
                    <GridEditSettings AllowAdding="true" AllowEditing="true" AllowDeleting="true" ShowDeleteConfirmDialog="true" />
                    <GridFilterSettings Type="FilterType.CheckBox"></GridFilterSettings>
                    <GridSortSettings>
                        <GridSortColumns>
                            <GridSortColumn Field="@nameof(Volunteer.FullName)" Direction="SortDirection.Ascending" />
                        </GridSortColumns>
                    </GridSortSettings>
                    <GridGroupSettings ShowDropArea="true" EnableLazyLoading="true" />
                    <GridColumns>
                        <GridColumn Field=@nameof(Volunteer.VolunteerId) Visible="false" HeaderText="ID" TextAlign="TextAlign.Right" IsPrimaryKey="true" AutoFit="false" AllowFiltering="false" AllowEditing="false" AllowAdding="false"></GridColumn>
                        <GridColumn Field=@nameof(Volunteer.FullName) Width="172" ShowColumnMenu="false" HeaderText="Name" Type="ColumnType.String" AllowEditing="false" AllowFiltering="true" AutoFit="false" />
                        <GridColumn Field=@nameof(Volunteer.Email) Width="225" ShowColumnMenu="false" HeaderText="Email" Type="ColumnType.String" AllowEditing="false" AllowFiltering="true" AutoFit="false" />
                        <GridColumn Field=@nameof(Volunteer.FormattedPhone) Width="118" ShowColumnMenu="false" HeaderText="Phone" Type="ColumnType.String" AllowEditing="false" AllowFiltering="true" AutoFit="false" />
                        <GridColumn Field=@nameof(Volunteer.Organization) Width="150" ShowColumnMenu="false" HeaderText="Organization" Type="ColumnType.String" AllowEditing="false" AllowFiltering="true" AutoFit="false" />
                        <GridColumn Field=@nameof(Volunteer.Group) Width="150" ShowColumnMenu="false" HeaderText="Group" Type="ColumnType.String" AllowEditing="false" AllowFiltering="true" AutoFit="false" />
                        <GridColumn Field=@nameof(Volunteer.VehicleTypeString) Width="150" ShowColumnMenu="false" HeaderText="Vehicle Type" Type="ColumnType.String" AllowEditing="false" AllowGrouping="false" AllowFiltering="true" AutoFit="false" />
                        <GridColumn Field=@nameof(Volunteer.VehicleDescription) Width="150" ShowColumnMenu="false" HeaderText="Description" Type="ColumnType.String" AllowEditing="false" AllowFiltering="true" AutoFit="false" />
                        <GridColumn Field=@nameof(Volunteer.IHaveVolunteeredBefore) Width="125" ShowColumnMenu="false" Type="ColumnType.Boolean" HeaderText="Previous?" AllowEditing="false" AllowFiltering="true" TextAlign="TextAlign.Center" EditType="EditType.BooleanEdit" DisplayAsCheckBox="true" AutoFit="false" />
                        <GridColumn Field=@nameof(Volunteer.OtherLanguagesSpoken) Width="150"HeaderText="Languages" Type="ColumnType.String" HeaderTextAlign="TextAlign.Left" ShowColumnMenu="false" AllowEditing="false" AllowFiltering="true"  />
                        <GridColumn Field=@nameof(Volunteer.CanYouTranslate) Width="150"HeaderText="Translate?" Type="ColumnType.String" HeaderTextAlign="TextAlign.Left" ShowColumnMenu="false" AllowEditing="false" AllowFiltering="true"  />
                        <GridColumn Field=@nameof(Volunteer.Message) Width="100" HeaderText="Notes" Type="ColumnType.String" HeaderTextAlign="TextAlign.Left" ShowColumnMenu="false" AllowEditing="false" AllowFiltering="false" />
                        <GridColumn Field=@nameof(Volunteer.AttendChurch) Width="100" ShowColumnMenu="false" Type="ColumnType.Boolean" HeaderText="Church?" AllowEditing="false" AllowFiltering="true" TextAlign="TextAlign.Center" EditType="EditType.BooleanEdit" DisplayAsCheckBox="true" AutoFit="false" />
                        <GridColumn Field=@nameof(Volunteer.ChurchName) Width="150" HeaderText="Church Name" Type="ColumnType.String" HeaderTextAlign="TextAlign.Left" ShowColumnMenu="false" AllowEditing="false" AllowFiltering="true" />
                        <GridColumn Field=@nameof(Volunteer.VolunteerArea) Width="100" HeaderText="Area" Type="ColumnType.String" HeaderTextAlign="TextAlign.Left"  ShowColumnMenu="false" AllowEditing="false" AllowFiltering="true" />
                        <GridColumn Field=@nameof(Volunteer.OtherArea) Width="150" HeaderText="Other Area" Type="ColumnType.String" HeaderTextAlign="TextAlign.Left" ShowColumnMenu="false" AllowEditing="false" AllowFiltering="true" />
                        <GridColumn Field=@nameof(Volunteer.SubscribedEmail) Width="200" ShowColumnMenu="false" Type="ColumnType.Boolean" HeaderText="Subscribed Email" AllowEditing="false" AllowFiltering="true" TextAlign="TextAlign.Center" EditType="EditType.BooleanEdit" DisplayAsCheckBox="true" AutoFit="false" />
                        <GridColumn Field=@nameof(Volunteer.SubscribedSms) Width="200" ShowColumnMenu="false" Type="ColumnType.Boolean" HeaderText="Subscribed Text" AllowEditing="false" AllowFiltering="true" TextAlign="TextAlign.Center" EditType="EditType.BooleanEdit" DisplayAsCheckBox="true" AutoFit="false" />
                    </GridColumns>
                </SfGrid>
            </div>
        </div>
    </div>
}


@ErrorMessage

@if (NoPaging)
{
    <style>
        .e-pager {
            display: none;
        }
    </style>
}

<style>
    /***************************************** ManageVolunteers.razor.css ********************************************/

    .e-grid td.e-rowcell.e-focus.e-focused {
        box-shadow: none;
    }

    .e-grid th.e-headercell.e-focus.e-focused {
        box-shadow: none;
    }




    .e-dialog .e-dlg-header {
        font-size: 1.75rem;
        font-weight: 700;
    }

</style>
