@layout Layout.AdminLayout
@page "/administration/edit/editcontent/{LocationId:int}/{ContentName}"
@using ContentType = BedBrigade.Common.Enums.ContentType
<CheckAuth Roles=@RoleNames.CanManagePages></CheckAuth>

<style>
    .center-align td {
        vertical-align: middle;
    }
</style>

@if (Content == null && ImageButtonList == null)
{
    <Spinner />
}
else
{

    <div class="container my-3 ">
        <div class="d-flex align-items-center justify-content-between mb-3">
            <h4 class="mb-0">@WorkTitle</h4>

            <div class="form-check d-flex align-items-center ms-3">
                <input class="form-check-input me-2" type="checkbox" id="chkConvertImages"
                       @bind="ConvertImages" @bind:after="UpdateSaveUrl"  />
                <label class="form-check-label" for="chkConvertImages">Convert Images</label>
            </div>
        </div>
        <table>
            @foreach(var item in ImageButtonList)
            {
                <tr class="center-align">
                    <td>
                        @(item.Key)
                    </td>
                    <td>
                        <button type="button" class="btn" @onclick="(() => HandleImageButtonClick(item.Value))"><img src="Media/national/photosIcon16x16.png" /></button>
                    </td>
                </tr>
            }
        </table>
        <p>&nbsp;</p>
        <EditForm Model="Content">
            <DataAnnotationsValidator />
            @* only show when editing Stories or News *@
            @if (Content?.ContentType == ContentType.Stories
                 || Content?.ContentType == ContentType.News)
            {
                <div class="mb-3">
                    @if (!string.IsNullOrEmpty(Content.MainImageFileName))
                    {
                        <img src="@($"{ImagePath}/{Content.MainImageFileName}")"
                             class="img-thumbnail"
                             style="max-height:200px;" />
                    }
                    <!-- Hidden native file input -->
                    <InputFile id="@_fileInputId"
                               @ref="_fileInput"
                               OnChange="OnInputFileChange"
                               accept=".gif,.jpg,.jpeg,.png,.webp"
                               style="display:none"/>

                    <!-- Label that looks like a button -->
                    <label class="btn btn-primary" for="@_fileInputId">
                        @FileButtonText
                    </label>
                </div>
            }
            <div class="rte-container">
                <SfRichTextEditor @ref=@RteObj EditorMode="EditorMode.HTML" Height="500" @bind-Value="Body">
                    <RichTextEditorImageSettings SaveUrl="@SaveUrl" Path=@ImagePath AllowedTypes="AllowedTypes" />
                    <RichTextEditorToolbarSettings Items="@Tools">
                        <RichTextEditorCustomToolbarItems>
                        </RichTextEditorCustomToolbarItems>
                    </RichTextEditorToolbarSettings>
                        <RichTextEditorEvents
                            OnImageUploadSuccess="OnImageUploadSuccess" />
                </SfRichTextEditor>
            </div>
            <div>
                <button id="save" type="button" class="btn btn-primary" @onclick="(() => HandleSaveOnlyClick())">Save Only</button>
                <button id="saveAndClose" type="button" class="btn btn-primary" @onclick="(() => HandleSaveAndCloseClick())">Save and Close</button>
                <button id="cancel" type="button" class="btn btn-secondary" @onclick="(() => HandleCancelClick())">Cancel</button>
            </div>
        </EditForm>
    </div>

    <SfDialog @ref="MediaDialog" Width="90%" IsModal="true" ShowCloseIcon="true" Visible="false" ZIndex="100000" >
        <DialogEvents OnOpen="onOpen"></DialogEvents>
        <DialogTemplates>
            <Header>Upload Files</Header>
            <Content>

                <MediaManager AllowedExtensions="@_allowedExtensions" 
                              EnableFolderOperations="@_enableFolderOperations" 
                              MaxFileSize="@_maxFileSize" 
                              RootFolder="@FolderPath"
                              MediaFolderName="@_mediaFolder"/>

            </Content>
        </DialogTemplates>
        <DialogButtons>
            <DialogButton Content="Close" IsPrimary="true" OnClick="@CloseDialog"/>
        </DialogButtons>
    </SfDialog>
}

